.project {
  padding-top: 15%;
  padding-bottom: 15%;
}

.ohmywrap {
  .project {
    padding: 60px;
    background-color: rgba(145, 190, 130, 1);
  }

  .preview-image {
    width: 160px;
    height: 160px;
    margin: auto;
  }
}

.message-empty {
  color: #dc3545;
  font-size: 18px;
}
