.telegram-birthday-notification-bot {
  .project {
    background-color: #ffff9f;
  }

  .preview-image {
    width: 256px;
    height: 256px;
    margin: auto;
  }
}

.message-empty {
  color: #dc3545;
  font-size: 18px;
}
