<section class="section-intro">
  <div class="container">
    <div class="row row-centered mb-5">
      <div class="col-lg-5 text-right">
        <div class="avatar">
          <img src="/assets/images/avatar.jpg"
               class="avatar-image" />
        </div>
      </div>
      <div class="col-lg-7">
        <div class="name">Aleksei Vinnikov</div>
        <div class="main-job-title">web developer</div>
        <div class="social-icons">
          <a class="social-icon social-icon-github"
             href="https://github.com/h37l3x"
             target="_blank">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
          </a>
          <a class="social-icon social-icon-instagram"
             href="https://www.instagram.com/h37l3x"
             target="_blank">
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
          </a>
          <a class="social-icon social-icon-vkontakte"
             href="https://vk.com/h37l3x"
             target="_blank">
            <fa-icon [icon]="['fab', 'vk']"></fa-icon>
          </a>
          <a class="social-icon social-icon-linkedin"
             href="https://www.linkedin.com/in/aleksei-vinnikov/"
             target="_blank">
            <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
          </a>
          <a class="social-icon social-icon-youtube"
             href="https://www.youtube.com/channel/UC1S2ol-OATi_Lak03BI-I0g"
             target="_blank">
            <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="row mb-5 content-columns">
      <div class="col-lg-5 left-column">
        <div class="left-column-content">
          <h2 class="mb-3 brown-title">Education</h2>
          <div class="mb-3">
            <h5>Loftschool</h5>
            <div class="job-title">Frontend devloper / Russia, Moscow</div>
            <div class="text">Training</div>
            <div class="date-period">2015</div>
          </div>
          <div class="mb-3">
            <h5>Moscow Institute of Linguistics</h5>
            <div class="job-title">Intermediate / Russia, Moscow</div>
            <div class="text">English courses</div>
            <div class="date-period">2014 - 2015</div>
          </div>
          <div class="mb-5">
            <h5>Moscow Polytechnic University</h5>
            <div class="job-title">Engineer / Russia, Moscow</div>
            <div class="text">Information systems and technologies</div>
            <div class="date-period">2009 - 2015</div>
          </div>
          <h3 class="mb-3 brown-title">Soft skills</h3>
          <ul class="text pr-20 mb-5"
              dir="rtl">
            <li>Сonstantly improve my skills</li>
            <li>Pretty easy to adapt to changes</li>
          </ul>
          <h3 class="mb-3 brown-title">Hard skills</h3>
          <ul class="text pr-20 mb-5"
              dir="rtl">
            <li>C# (ASP.NET MVC, WEB API)</li>
            <li>SQL, ORM (Dapper, EF, Nhibernate)</li>
            <li>
              <div dir="ltr">Javascript (native, Vue, Angular), Typescript</div>
            </li>
            <li>
              <div dir="ltr">HTML, CSS (SASS, LESS)</div>
            </li>
          </ul>
          <h3 class="mb-3 brown-title">Tools and environment</h3>
          <ul class="text pr-20 mb-5"
              dir="rtl">
            <li>Visual studio, MS SSMS, IIS</li>
            <li>
              <div dir="ltr">Unit testing (Moq, NUnit)</div>
            </li>
            <li>
              <div dir="ltr">CI (Team city, Octopus)</div>
            </li>
            <li>
              <div dir="ltr">git (comand line, sourcetree)</div>
            </li>
            <li>npm, gulp, webpack</li>
          </ul>
          <h2 class="mb-3 brown-title">Languages</h2>
          <ul class="text pr-20 mb-5"
              dir="rtl">
            <li>
              <div dir="ltr">Russian (native)</div>
            </li>
            <li>
              <div dir="ltr">English (intermediate)</div>
            </li>
          </ul>
          <h2 class="mb-3 brown-title">Interests</h2>
          <ul class="text pr-20 mb-5"
              dir="rtl">
            <li>Travelling</li>
            <li>Running</li>
            <li>Drums and piano</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="mb-5">
          <h2 class="mb-3 brown-title">About me</h2>
          <p class="text">I have been working as a web developer for a little over 4 years. I strive for constant
            improvement of my professional skills</p>
          <p class="text">I like to travel (who doesn't). I like to read wuxia and xianxia novels.
            Periodically I like to run in parks</p>
          <p class="mb-5 text">Sometimes I attend music courses because I want to learn how to play
            the piano and drums</p>
        </div>

        <div>
          <h2 class="mb-3 brown-title">Experience</h2>

          <div class="mb-5">
            <div class="row">
              <h5 class="col-md-7 company-title">Intourist - Thomas Cook Group</h5>
              <div class="col-md-5 text-right date-period">May 2018 - until now</div>
            </div>
            <div class="mb-3 job-title">Full-stack web .NET developer / Russia, Moscow</div>
            <p class="text">support and development of various parts of the custom tourist data management
              system </p>
            <ul class="text">
              <li>tour search (microservice + spa application)</li>
              <li>tour booking (multiple microservices + spa application) </li>
              <li>back office for customers and employees (main ASP.NET application)</li>
              <li>integrations with different third-party services (avia ticket search, tours search
                service)</li>
              <li>multiple windows applications for configuration and control purposes (payments,
                reports,
                different settings etc.)</li>
              <li>background tasks processing (hangfire, windows schedulers with console apps)</li>
              <li>support legacy application</li>
            </ul>
          </div>

          <div class="mb-5">
            <div class="row">
              <h5 class="col-md-7 company-title">Alt-Lan D.S. - Vestbery™</h5>
              <div class="col-md-5 text-right date-period">April 2016 – April 2018</div>
            </div>
            <div class="mb-3 job-title">Full-stack web .NET developer / Russia, Moscow</div>
            <p class="text">Participation in various web application development projects as a developer.
              Almost all projects were for internal use (different backoffice systems)
            <ul class="text">
              <li>Backend - .net c #, ms sql</li>
              <li>Frontend - javascript, vue, angular, webpack, gulp, typescript, less / sass</li>
            </ul>
          </div>

          <div class="mb-5">
            <div class="row">
              <h5 class="col-md-7 company-title">Loginet</h5>
              <div class="col-md-5 text-right date-period">November 2015 – February 2016</div>
            </div>
            <div class="mb-3 job-title">Junior full-stack web .NET developer / Russia, St. Petersburg</div>
            <p class="text">Supporting and improving backoffice system that helps product companies to find delivery
              companies</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
